
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}  


.Game-pane {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    box-shadow: 2px 2px 2px #ccc;
}

#level {
    border-radius: 3px;
}


.cell {
    background-color:#ccc;
    width: 1.5em;
    height: 1.5em;

    border-style: outset;

    text-align: center;

    user-select: none;

    border-radius: 3px;
    }



.clear {
    border-style: solid;
    border-color: #eee;
    background-color: #eee;
}

.cell.landmine {
    background-color: rgb(230, 119, 15);
    background: url(../pro/5.jpeg);
    background-size: 23px 23px;
}

.cell.exploded {
    background-color:red;
    background: url(../pro/4.jpeg);
    background-size: 22px 23px;
}

.cell.landmine.success {
    background-color: blue;
}


.tip {
    background-color: crimson ;
    background: url(../pro/3.jpeg);
    
}

#operation {
    background-color: darkgrey;
    background: url(../pro/2.jpeg);
}

#operation#llevel {
    background-color: darkred;
}

.btn:hover{
color: rgb(35, 21, 228);
background: #d80aeb;
}
.btn:focus{
color: rgb(238, 14, 14);
background: #ebdc0f;
outline: none;
}
